{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        Registration for new users
    </h1>

    <div>
        <form class="uk-form-horizontal" method="POST">
            <fieldset class="uk-fieldset uk-margin" style="">
                <legend class="uk-legend uk-margin-bottom">
                    Enter your General Information
                    <span class="uk-text-muted"></span>
                </legend>
                {% csrf_token %}
                {{ form | as_uikit_form }}
                <input type="submit" class="uk-button" value="Register">
            </fieldset>
        </form>
    </div>
</article>
{% endblock %}