{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        {{ title }}
        {% if subtitle %}
            <span class="uk-text-muted"> - {{ subtitle }}</span>
        {% endif %}
    </h1>

    {% block extracontent %}{% endblock %}

    <div>
        <form class="uk-form-horizontal" method="POST">
            {% csrf_token %}
            {{ form | as_uikit_form }}
            <input type="submit" class="uk-button uk-button-primary" value="{{ next_text }}">
        </form>
    </div>
</article>
{% endblock %}