{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}{{ title }}{% endblock %}

{% block pagetitle %}
{{ title }}
{% if subtitle %}
    <span class="uk-text-muted"> - {{ subtitle }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div>
    <form class="uk-form-horizontal" method="POST">
        {% csrf_token %}
        {% block preform %}{% endblock %}
        {{ form | as_uikit_form }}
        {% block extracontent %}{% endblock %}
        <input type="submit" id="input_id_submit" class="uk-button uk-button-primary" value="{{ next_text }}">
    </form>
</div>
{% endblock %}