Django==2.1.11
django-countries==5.3.3
django-cookie-law==2.0.1
django-impersonate==1.4.1
jsonfield==2.0.2
lxml==4.2.5
openpyxl==2.5.9
raven==6.10.0
stripe==2.24.0
google-auth==1.6.2
django-sesame==1.4
pre-js-py==1.2.0
google-api-python-client==1.7.7
beautifulsoup4==4.7.1
django-htmlmin==0.11.0
html5lib==1.0.1
webencodings==0.5.1