Django==3.1.13
django-countries==6.0
django-cookie-law==2.0.3
django-impersonate==1.7
jsonfield==3.1.0
lxml==4.6.5
openpyxl==3.0.3
raven==6.10.0
stripe==2.43.0
google-auth==1.11.2
django-sesame==1.7
pre-js-py==1.2.0
google-api-python-client==1.7.11
beautifulsoup4==4.8.2
django-htmlmin==0.11.0
html5lib==1.1
webencodings==0.5.1
requests==2.23.0
tqdm==4.43.0
django-webpack5-loader==0.8.5
django-extensions==2.2.9
djangorestframework==3.11.2
django-money==1.1
py-moneyed==1.2
django-pdf-render==0.1.2