certifi==2018.8.24
chardet==3.0.4
Django==1.11.15
django-countries==5.3.2
django-cookie-law==2.0.1
et-xmlfile==1.0.1
idna==2.7
jdcal==1.4
jsonfield==2.0.2
lxml==4.2.4
openpyxl==2.5.6
pytz==2018.5
raven==6.9.0
requests==2.19.1
stripe==1.84.2
unicodecsv==0.14.1
urllib3==1.23