{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">
            Membership Tier
        </h3>
    </div>
    <div class="uk-card-body">
        Your current tier: <b>{{ user.alumni.membership | get_choice_field:"tier" }}</b>
    </div>
    {% if user.alumni.setup_completed %}
        <div class="uk-card-footer">
            <a href="{% url 'update_membership' %}" class="uk-button uk-button-text" id='id_update_tier'>Change Tier</a>
        </div>
    {% endif %}
</div>
