<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Questions, Comments or Concerns?</h3>
    </div>
    <div class="uk-card-body">
        <p>
            You are always in control of your membership. 
            If you have any questions, comments, concerns, need help or require a receipt, please contact support via email to <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>.
        </p>
    </div>
</div>
