{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}Membership Data{% endblock %}

{% block head %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        window.onload = function () {
            var membership_options = {
                "st": "<b>Starter</b> – Our membership for fresh graduates (graduation not more than two years ago) or those who are unable to financially contribute. <br /> We want all alumni to connect via the Association and don’t exclude anyone based on their financial situation. If you are unable to pay for the Contributor membership, you can apply for free membership for a year. Please note that this option grants you access to the Jacobs Alumni Association for one year only and will require a symbolic fee of 0.01€. <br />",
                "co": "<b>Contributor</b> – Our standard membership for alumni and associate members, who are part of the Jacobs community. With an equivalent to 3,25€ per month you enjoy <ul><li>Google account <em>@jacobs-alumni.de</em> e-mail, access to various apps, and unlimited Google Drive space. </li><li>Stay in touch with the University via regular newsletters</li><li>More easily connect with other alumni via our membership portal</li><li>Lifelong career services in collaboration with the University</li><li>Invitations to University events and alumni events</li></ul>",
                "pa": "<b>Patron</b> - Our membership for senior alumni and friends who want to give back even more and love to see the Jacobs spirit grow! <ul><li>Includes all benefits of the Contributor membership PLUS:</li><li>After three years of patron membership, engraved alumni brick (on the path in front of the IRC)</li><li>Special mention in the Association’s newsletter after joining</li><li>Special mention in yearly newsletter every year of membership</li><li>Enables the Alumni Association to help young and future alumni grow and really make a difference in their lives</li></ul>"
            };


            // Create a Stripe client
            var stripe = Stripe('{{ publishable_key }}');

            // Create an instance of Elements
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
                base: {
                    color: '#32325d',
                    lineHeight: '18px',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            }
            // Create an instance of the card Element
            var card = elements.create('card', {style: style});

            // Add an instance of the card Element into the `card-element` <div>
            card.mount('#card-element');

            // Handle real-time validation errors from the card Element.
            card.addEventListener('change', function (event) {
                var displayError = document.getElementById('card-errors');

                // if there was an error, show it
                if (event.error) {
                    errorElement.style.display = 'block';
                    errorElement.style.visibility = 'visible';
                    errorElement.textContent = event.error.message;

                    // else hide the error message
                } else {
                    errorElement.style.display = 'none';
                    errorElement.style.visibility = 'hidden';
                    errorElement.textContent = '';
                }
            });

            function stripeTokenHandler(token) {
                document.getElementById('id_token').value = token.id;
                document.getElementById("payment-form").submit();
            }

            // the element displaying errors
            var errorElement = document.getElementById('card-errors');
            errorElement.style.display = 'none';
            errorElement.style.visibility = 'hidden';

            // Handle form submission
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                // hide the error message (if any)
                errorElement.style.display = 'none';
                errorElement.style.visibility = 'hidden';

                stripe.createToken(card).then(function (result) {
                    console.log(result);
                    if (result.error) {
                        // Inform the user if there was an error
                        errorElement.style.display = 'block';
                        errorElement.style.visibility = 'visible';
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server
                        stripeTokenHandler(result.token);
                    }
                });
            });
            $('#id_tier').change(function () {
                var selected = $(this).find(':selected').val();
                $('#id_tier').parent().next().html(membership_options[selected]);
                if(selected === 'st'){
                    $("#div_id_starterReason").show()
                } else {
                    $("#div_id_starterReason").hide()
                }
            }).trigger('change');
        }
    </script>
    <style>
        /**
     * The CSS shown here will not be introduced in the Quickstart guide, but shows
     * how you can use CSS to style your Element's container.
     */
        .StripeElement {
            background-color: white;
            height: 40px;
            padding: 10px 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">
            Membership Data
        </h1>

        <div class="uk-text-lead">
            <p>
                All membership fees and donations go towards the non-profit purpose of the Association (see §3 of our
                <a href="https://jacobs-alumni.de/charter/" target="'_blank">charter</a>).
            </p>

            <p>
                Your contributions make the Association an autonomous organization and help achieve our mission to make a difference for our alma mater and
                our growing global network.
                In particular, you are supporting scholarships to Jacobs students and the many projects we have in our pipeline!
            </p>

            <p>
                Alumni membership can be deducted from (German) taxes.
            </p>
            <p>
                If you run into any trouble or have any questions, please drop us an e-mail at <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>.
            </p>

        </div>

        <div>
            <form action="/setup/payment/" method="post" id="payment-form" class="uk-form-horizontal">
                {% csrf_token %}

                {{ form | as_uikit_form }}
                <div>
                    <div id="description" class="uk-form-controls uk-form-controls-text">
                    </div>
                </div>

                <div>
                    <label for="card-element" class="uk-form-label">
                        Credit or debit card *
                    </label>
                    <div id="card-element" class="uk-form-controls uk-form-controls-text">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors -->
                    <div role="alert" class="uk-form-controls uk-form-controls-text">
                        <div class="uk-alert-danger" id="card-errors" uk-alert>
                            You need to enable JavaScript for this to work.
                        </div>
                        <p>
                            Your payment info is sent directly to <a href="https://stripe.com/"
                                                                     target="_blank">Stripe</a> via your browser
                            and never reaches Jacobs Alumni Servers.
                        </p>
                    </div>
                </div>

                <div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <ul>
                            <li>
                                Your payment will be due immediately and recurring annually.
                            </li>
                            <li>
                                The system will notify you before any further payments are due.
                            </li>
                            <li>
                                You can always change your membership in the membership portal.
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="uk-button uk-button-primary">Confirm Membership &amp; Pay Now</button>
            </form>
        </div>
    </article>
{% endblock %}