<div id="CookielawBanner" class="uk-alert uk-alert-primary">
    <h3>Cookies disclaimer</h3>
    <p>
            Our site saves small pieces of text information (cookies) on your device. 
            You can disable the usage of cookies by changing the settings of your browser. 
            For more details, please see our <a href="{% url "privacy" %}" target="_blank">Privacy Policy</a>. 
    </p>
    <p>
        <button class="uk-button uk-button-default uk-button-small" onclick="Cookielaw.createCookielawCookie();">I Agree To The Privacy Policy</button>
    </p>
</div>