{% extends "base/base.html" %}

{% load registry_display %}
{% load static %}

{% block title %}Atlas{% endblock %}

{% block content %}
<article class="uk-article">
    <div class="uk-text-lead">
        <img src="{% static "media/atlas_logo.png" %}" alt="Atlas Logo" class="uk-align-center" style="margin-top: -70px; margin-bottom: -70px;" />
        
        <p style="text-align: center; ">
                We are sorry but you don't have access to the Jacobs Alumni Atlas yet. 
                To use the Atlas, please <a href="{% url "edit_atlas" %}">edit your settings</a> and select the option to be included in the Alumni Atlas. 
                After that, you will be able to access the Alumni Atlas via a button in the upper right corner of your screen.
        </p>
    </div>

    <br />

    <div>
        <p style="text-align: center; font-size: 120%; ">
            Not sure what the Jacobs Alumni Atlas is? Check out the video below!
            <iframe class="uk-align-center" uk-responsive uk-video="automute: true; autoplay: false" width="840" height="473" src="https://www.youtube.com/embed/UpdFXD4AfyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
    </div>

</article>
{% endblock %}