{% extends "base/base.html" %}

{% load registry_display %}
{% load static %}
{% load render_entrypoint from webpack_loader %}

{% block title %}Atlas{% endblock %}
{% block pagetitle %}Jacobs Alumni Atlas{% endblock %}

{% block head %}
{% render_entrypoint "atlas" "css" %}
{% endblock %}


{% block content %}
{% include "atlas/search_form.html" %}

<div>
    <div id="map" class="map"></div>
</div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        window.atlas_people_coords = {{ people_coords }};
    </script>
    {% render_entrypoint "atlas" "js" %}
{% endblock %}

