{% load render_entrypoint from webpack_loader %}

<p class="uk-article-lead">
    <form action="{% url 'atlas_search' %}" method="GET" id="searchForm">
        <div uk-grid>

            <div class="uk-width-expand">
                <input id="searchInput" type="text" name="query" placeholder="Search..." class="uk-input" {% if value %}value="{{ value }}" {% endif %} />
            </div>

            <div class="uk-width-auto">
                <!-- Help -->
                <a href="" class="uk-icon-button" uk-icon="question"></a>
                <div uk-dropdown="pos: bottom-left">
                    <p>
                        You can search for:
                    </p>

                    <ul>
                        <li>Name, e.g. <b>Peter Pan</b></li>
                        <li>City, e.g. <b>Munich</b> or <b>&quot;San Francisco&quot;</b></li>
                        <li>Other Degrees, e.g. <b>MBA Stanford</b></li>
                        <li>Spoken Languages, e.g. <b>German</b></li>
                        <li>Programming Languages, e.g. <b>HTML</b></li>
                        <li>Areas Of Interest, e.g. <b>Design Thinking</b></li>
                        <li>Employer, e.g. <b>Google</b></li>
                        <li>Position, e.g. <b>Consultant</b></li>
                    </ul>
                    
                    <p>
                        Or you can select a field from the <i>>Advanced Search Box</i> and click <i>+</i> to add it to the search bar. 
                    </p>
                    <p>
                        You can search multiple things at once by just separating them with spaces, e.g  <b>Peter Pan Munich</b>. 
                    </p>
                </div>
            </div>

            <div class="uk-width-2-5@m uk-button-group">
                <!-- Search -->
                <button type="submit" id="id_button_search" class="uk-input uk-button uk-button-primary">
                    Search
                    <span uk-icon="icon: search"></span>
                </button>

                <!-- Advanced Search Button -->
                <input type="button" id="id_button_advanced" class="uk-button uk-button-default" value="Advanced" />

                <div uk-dropdown>
                    <div class="uk-form-horizontal">
                        <table id="advancedFieldTable">
                            <tbody>
                                {% for field in search_fields %}
                                    <tr style="margin-bottom: 5px; ">
                                        <td data-selector="{{ field.0 }}">{{ field.1 }}</td>
                                        <td>
                                            <div class="uk-button-group">
                                                <select class="uk-select" style="min-width: 200px; " id="aft_id_select_{{field.0}}">
                                                    {% for kv in field.2 %}
                                                        <option value="{{ kv.0 }}">{{ kv.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p>

{% render_entrypoint "atlas__search_form" %}
