{% extends "base/base.html" %}
{% load uikit_tags %}
{% load render_entrypoint from webpack_loader %}

{% block title %}Application Approval {{ alumni.profile.username }} {% endblock %}
{% block pagetitle %}User Approval {{ alumni.profile.username }}{% endblock %}

{% block content %}
<div class="uk-tile uk-tile-muted">

    <form class="uk-form-horizontal" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form | as_uikit_form }}
        <input type="submit" class="uk-button uk-button-primary" value="Approve user">
    </form>
</div>

<div class="uk-tile uk-tile-default">
    <p class="uk-h4">Preview E-Mails</p>

    <div class="uk-button-group">
        <a class="uk-button uk-button-default" href="{% url "approval_welcomeemail" uid=alumni.profile.id %}">Welcome (New Member)</a>
        <a class="uk-button uk-button-default" href="{% url "approval_welcomebackemail_password" uid=alumni.profile.id %}">Welcome Back (Existing Member With Password Reset)</a>
        <a class="uk-button uk-button-default" href="{% url "approval_welcomebackemail_link" uid=alumni.profile.id %}">Welcome Back (Existing Member Without Password Reset)</a>        
    </div>
</div>

<div class="uk-tile uk-tile-default">
    <p class="uk-h4">Personal Data</p>

    <table class="uk-table uk-table-striped">
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    {{ alumni.fullName }}
                </td>
            </tr>

            <tr>
                <td>Username</td>
                <td>
                    {{ alumni.profile.username }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="uk-tile uk-tile-default">
    <p class="uk-h4">Application Status</p>

    <table class="uk-table uk-table-striped">
        <tbody>
            <tr>
                <td>Application Completed</td>
                <td>
                    {% if alumni.setup_completed %}
                        <span class="uk-label uk-label-success">Yes</span>
                    {% else %}
                        <span class="uk-label uk-label-warning">No</span>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Application Approved</td>
                <td>
                    {% if alumni.approval.approval %}
                        <span class="uk-label uk-label-success">Yes</span>
                    {% else %}
                        <span class="uk-label uk-label-danger">No</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="uk-tile uk-tile-default">
    <p class="uk-h4">GSuite Status</p>

    <table class="uk-table uk-table-striped">
        <tbody>
            <tr>
                <td>Assigned E-Mail</td>
                <td>
                    {% if alumni.approval.gsuite %}
                        <span style='color: green; '>{{alumni.approval.gsuite}}</span>
                    {% else %}
                    {% endif %}

                    {% if emailLinked %}
                        <span class="uk-label uk-label-success">Account Linked</span>
                    {% else %}
                        <span class="uk-label uk-label-danger">Unlinked</span>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>Previous E-Mail</td>
                <td>
                    {% if alumni.existingEmail %}
                        {{alumni.existingEmail}}
                    {% else %}
                        (none listed)
                    {% endif %}

                    {% if previousEmail %}
                        <span class="uk-label uk-label-warning">{{previousEmail}}</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block extrascripts %}
    <script type="text/javascript">
        window.auto_email = {{ jsAutoEmail | safe }};
    </script>
    {% render_entrypoint "registry__approval" "js" %}
{% endblock %}
