{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}Membership Data{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    
    <script type="text/javascript">
        var stripe_integration_init = function(stripe_publishable_key) {
            // create an error elemenet
            var errorElement = document.getElementById('card-errors');
            var set_error = function(message){
                if (message) {
                    errorElement.style.display = 'block';
                    errorElement.style.visibility = 'visible';
                    errorElement.textContent = message;
                } else {
                    errorElement.style.display = 'none';
                    errorElement.style.visibility = 'hidden';
                    errorElement.textContent = '';
                }
            }
            set_error();

            // initialize stripe API
            var stripe = Stripe(stripe_publishable_key);
            var elements = stripe.elements();

            // custom element style
            var style = {
                base: {
                    color: '#32325d',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            
            // Create input elements for card and iban
            var card = elements.create('card', { style: style });
            card.mount('#card-element');
            var iban = elements.create('iban', { style: style, supportedCountries: ['SEPA'] });
            iban.mount('#iban-element');

            // handle change errors properly
            var handleChangeErrors = function(event) {
                set_error(event.error ? event.error.message : undefined);
            }
            card.addEventListener('change', handleChangeErrors);
            iban.addEventListener('change', handleChangeErrors);

            // handle changing of payment type
            var paymentElement = $('#id_payment_type');
            paymentElement.change(function () {
                // clear out the error
                set_error(undefined);

                // and switch accordingly
                var selected = $(this).find(':selected').val();
                if (selected === 'card') {
                    $("#stripe-card-elements").show();
                    $("#stripe-iban-elements").hide();
                } else {
                    $("#stripe-card-elements").hide();
                    $("#stripe-iban-elements").show();
                }
            }).trigger('change');


            // handle form suibmission
            // Handle form submission
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                // grab the payment type
                ptype = paymentElement.val();
                if (ptype == 'card') {
                    submitCard();
                } else if ( ptype == 'sepa' ) {
                    submitSepa();
                } else {
                    set_error('Something went wrong, please try again later or contact support. ')
                }
            });

            // handle submitting a card
            var submitCard = function() {
                stripe.createToken(card).then(function(result) {
                    if (result.error) {
                        set_error(result.error.message);
                        return;
                    }
                    
                    submitForm(result.token.id, undefined);
                });
            };
            
            // handle submitting a sepa token
            var submitSepa = function() {
                stripe.createSource(iban, {
                    type: 'sepa_debit',
                    currency: 'eur',
                    owner: {
                        name: document.getElementById('name').value
                    },
                    mandate: {},
                }).then(function(result) {
                    if (result.error) {
                        set_error(result.error.message);
                        return;
                    }

                    submitForm(undefined, result.source.id);
                })
            };

            var submitForm = function(card_token, source_id) {
                // unmount both elements to be sure they do not leak
                // any data to the server
                card.unmount();
                iban.unmount();

                // fill form data
                document.getElementById('id_card_token').value = card_token || '';
                document.getElementById('id_source_id').value = source_id || '';
                document.getElementById('name').value = '';

                // and submit the form
                document.getElementById("payment-form").submit();
            }
        };
    </script>
    <script type="text/javascript">
        window.onload = function() {
            stripe_integration_init('{{ stripe_publishable_key }}');
        }
    </script>
    <style>
        .StripeElement {
            background-color: white;
            color: #32325d;
            height: 40px;

            margin-top: 5px;
            margin-bottom: 5px;

            padding: 10px 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .uk-stripe-element {
            width: 100%;
            max-width: 100%;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">
            Payment Information
        </h1>

        <div class="uk-text-lead">
            <p>
                All membership fees and donations go towards the non-profit purpose of the Association (see §3 of our
                <a href="https://jacobs-alumni.de/charter/" target="'_blank">charter</a>).
            </p>

            <p>
                Your contributions make the Association an autonomous organization and help achieve our mission to make
                a difference for our alma mater and
                our growing global network.
                In particular, you are supporting scholarships to Jacobs students and the many projects we have in our
                pipeline!
            </p>

            <p>
                Alumni membership can be deducted from (German) taxes.
            </p>
            <p>
                If you run into any trouble or have any questions, please drop us an e-mail at <a
                    href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>.
            </p>
        </div>

        <div>
            <form action="{% url 'setup_subscription' %}" method="post" id="payment-form" class="uk-form-horizontal">
                {% csrf_token %}

                {{ form | as_uikit_form }}

                <!-- Elements for Card -->
                <div id="stripe-card-elements">
                    <label for="card-element" class="uk-form-label">
                        Credit or debit card *
                    </label>
                    <div id="card-element" class="uk-form-controls uk-form-controls-text">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>
                </div>

                <!-- Elements for IBAN -->
                <div id="stripe-iban-elements">

                    <div class="uk-form-controls uk-form-controls-text uk-alert-warning" uk-alert>
                        By providing your IBAN and confirming this payment, you are authorizing Jacobs Alumni Association and Stripe, our payment service provider, to send instructions to your bank to debit your account and your bank to debit your account in accordance with those instructions. 
                        You are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. 
                        A refund must be claimed within 8 weeks starting from the date on which your account was debited.
                    </div>
                    
                    <label for="iban" class="uk-form-label">
                        IBAN *
                    </label>
                    <div id="iban-element" class="uk-form-controls uk-form-controls-text">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>

                    <label for="name" class="uk-form-label">
                        Bank Account Owner *
                    </label>
                    <div id="sepa-element" class="uk-form-controls uk-form-controls-text">
                        <input id="name" class="StripeElement uk-stripe-element" placeholder="Your Name"/>
                    </div>
                </div>

                <!-- Used to display form errors -->
                <div role="alert" class="uk-form-controls uk-form-controls-text">
                    <div class="uk-alert-danger" id="card-errors" uk-alert>
                        You need to enable JavaScript for this to work.
                    </div>
                    <p>
                        Your payment info is sent directly to <a href="https://stripe.com/" target="_blank">Stripe</a> via your browser
                        and never reaches Jacobs Alumni Servers.
                        <!-- TODO: Stripe Logo -->
                    </p>
                </div>

                <div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <ul>
                            <li>
                                Your payment will be due immediately and recurring annually.
                            </li>
                            <li>
                                The system will notify you before any further payments are due.
                            </li>
                            <li>
                                You can always change your membership in the membership portal.
                            </li>
                        </ul>
                    </div>
                </div>

                {% if stripe_test_mode %}
                <div class="uk-text-lead">
                    <div class="uk-alert-danger" uk-alert>
                        <p>
                            Stripe is in testing mode and no real charges will be made. <br>
                            Using real payment data is not possible in this mode. 
                            Instead make use of <a target="_blank" href="https://stripe.com/docs/testing">Testing Card or SEPA numbers</a>. 
                        </p>
                    </div>
                </div>
                {% endif %}

                <button class="uk-button uk-button-primary">CONFIRM MEMBERSHIP &amp; AUTHORIZE PAYMENT NOW</button>
            </form>
        </div>
    </article>
{% endblock %}