{% extends "setup/setup.html" %}
{% load static %}
{% load registry_display %}
{% load render_entrypoint from webpack_loader %}

{% block pagetitle %}
    {% if updating %}
    <a href="{% url "view_payments" %}" class="uk-button uk-button-default uk-button-small">
        <span uk-icon="icon: arrow-left"></span>
        Back to Membership
    </a>
    {% endif %}
    {{ title }}
{% endblock %}

{% block preform %}
    {% if updating %}
    <div class="div_id_pre_tier">
        <label class="uk-form-label" for="id_pre_tier">
            Current Tier *
        </label>
        <div class="uk-form-controls-text uk-hidden@m">
            <p></p>
        </div>
        <div class="uk-form-controls uk-form-controls-text">
            <select name="payment_type" class="uk-select " id="id_pre_tier" disabled="disabled">
                <option>{{ alumni.membership | get_choice_field:"tier" }}</option>
            </select>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extracontent %}
<div id='description' style='display: none; '>
    <div class="uk-form-controls uk-form-controls-text">
        <div id="description-st"></div>
        <div id="description-co"></div>
        <div id="description-pa"></div>
    </div>
</div>


<div class="uk-alert-warning" uk-alert>
    <ul>
        <li>
            Always double check the selected tier before continuing. 
        </li>

        {% if updating %}
            <li>
                When upgrading from the starter to a paid tier, you will be asked to enter payment information. <br />
                Once you start the upgrade, you will not be able to use the portal until this is complete. 
            </li>
            <li>
                When switching between paid tiers, your existing payment method will be reused and the payment cycle remains the same. <br />
                This means you will not be charged with new fees until the next anniversary of your membership. <br />
                Depending on when during the yearly payment cycle you change your membership, the membership fee will be calculated as a combination of the old and new price. <br />
            </li>
            <li>
                If you decide to downgrade to the starter tier, your subscription will be cancelled immediately and your payment methods will be deleted. <br />
                When downgrading, no refunds will be issued. <br />
            </li>
        {% else %}
            <li>
                You will be able to change tiers on your own only after the setup process is completed.  <br />
                If you change your mind later during the signup process, you can contact support by writing an email to <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>. 
            </li>
        {% endif %}
        <li>
            If you have any questions, comments or concerns, contact support by writing an email to <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>. 
        </li>
    </ul>
</div>
{% endblock %}

{% block extrasubmitattrs %}disabled="disabled"{% endblock %}

{% block extrascripts %}
    <script>
        window.tier_next_text = "{{ next_text | escapejs }}";
        window.tier_confirm_text = "{{ confirm_text | escapejs }}";
    </script>
    {% render_entrypoint "payments__tier" "js" %}
{% endblock %}
