{% extends "setup/setup.html" %}
{% load static %}
{% load registry_display %}

{% block head %}
<script type="text/javascript">
    window.onload = function() {
        tier_change_init("{{ next_text | escapejs }}", "{{ confirm_text | escapejs }}")
    }
</script>

<script src="{% static "js/payments/tier.js" %}" type="text/javascript"></script>
{% endblock %}

{% block pagetitle %}
    {% if updating %}
    <a href="{% url "view_payments" %}" class="uk-button uk-button-default uk-button-small">
        <span uk-icon="icon: arrow-left"></span>
        Back to Membership
    </a>
    {% endif %}
    {{ title }}
{% endblock %}

{% block preform %}
    {% if updating %}
    <div class="div_id_pre_tier">
        <label class="uk-form-label" for="id_pre_tier">
            Current Tier *
        </label>
        <div class="uk-form-controls-text uk-hidden@m">
            <p></p>
        </div>
        <div class="uk-form-controls uk-form-controls-text">
            <select name="payment_type" class="uk-select " id="id_pre_tier" disabled="disabled">
                <option>{{ alumni.membership | get_choice_field:"tier" }}</option>
            </select>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extracontent %}
<div id='description' style='display: none; '>
    <div class="uk-form-controls uk-form-controls-text">
        <div id="description-st">
            <p>
                <b>Starter</b> - The free membership for those not ready or willing to financially contribute to the Association at this point. 
            </p>
            <p>
                We want all Alumni to be able to connect via the Association and won't exclude anyone based on their financial situation or willingness to contribute.
                After the first 2 years (and then once a year after that), we'll check with you if you want to stay in the Starter tier or if you feel comfortable upgrading to one of our paid tiers.
                If you don't, no problem, you can decide to stay in the Starter tier with no disadvantages.
            </p>
        </div>
        <div id="description-co">
            <p>
                <b>Contributor</b> - Our standard membership for Alumni and associate members who are part of the Jacobs community.
            </p>
            <p>
                <ul>
                    <li>Your @jacobs-alumni.de email account is hosted on G Suite and comes with access to various apps as well as unlimited Google Drive space. </li>
                    <li>Voting rights in the General Assembly of the Jacobs Alumni Association. </li>
                    <li>Eligibility as a mentee or mentor for 1 year mentoring program. </li>
                    <li>Access to Career Counselling Services. </li>
                    <li>Free access to career seminars and workshops (on campus). </li>
                    <li>Jacobs Career Fair: Free Silver Package (worth 850€) for own start-ups and spin-off companies.</li>
                    <li>Career Services for Alumni Employers: 20% discount on Presentations, Recruiting Events, Workshops, Employer Interviews and Pre-Selection.</li>
                    <li>Alumni Newsletter to stay up-to-date on all Alumni and University developments</li>
                    <li>More to come!</li>
                </ul>
            </p>
        </div>
        <div id="description-pa">
            <p>
                <b>Patron</b> - Our membership for senior alumni and friends who want to give back even more and love to see the Jacobs spirit grow! 
            </p>
            <p>
                Includes all benefits of the Contributor membership PLUS:
                <ul>
                    <li>After three years of patron membership, engraved alumni brick (on the path in front of the IRC)</li>
                    <li>Special mention in the Association’s newsletter after joining</li>
                    <li>Special mention in yearly newsletter every year of membership</li>
                    <li>Enables the Alumni Association to help young and future alumni grow and really make a difference in their lives</li>
                </ul>
            </p>
        </div>
    </div>
</div>


<div class="uk-alert-warning" uk-alert>
    <ul>
        <li>
            Always double check the selected tier before continuing. 
        </li>

        {% if updating %}
            <li>
                When upgrading from the starter to a paid tier, you will be asked to enter payment information. <br />
                Once you start the upgrade, you will not be able to use the portal until this is complete. 
            </li>
            <li>
                When switching between paid tiers, your existing payment method will be reused and the payment cycle remains the same. <br />
                Depending on when during the yearly payment cycle you change your membership, the membership fee will be calculated as a combination of the old and new price.
            </li>
            <li>
                If you decide to downgrade to the starter tier, your subscription will be cancelled immediately and your payment methods will be deleted. <br />
            </li>
        {% else %}
            {% if selfservice_tier_enabled %}
                <li>
                    You will be able to change tiers on your own only after the setup process is completed.  <br />
                    If you change your mind later during the signup process, you can contact support by writing an email to <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>. 
                </li>
            {% else %}
                <li>
                    Changing tiers is possible later, but you will have to write an email to <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a> for them do so <b>manually</b>. 
                </li>
            {% endif %}
        {% endif %}
        <li>
            If you have any questions, comments or concerns, contact support by writing an email to <a href="mailto:support@jacobs-alumni.de">support@jacobs-alumni.de</a>. 
        </li>
    </ul>
</div>
{% endblock %}