{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}Membership{% endblock %}

{% block content %}
{% if admin %}{% else %}
    {% include "portal/approval_warning.html" %}
{% endif %}

{% if error %}
    {% include "payments/view/error.html" %}
{% else %}
    <div class="uk-grid">
        <div class="uk-width-1-2@m uk-hidden@m">
            {% include "payments/view/002_info_support.html" %}
            <div><br /></div>
        </div>
        <div class="uk-width-1-2@m">
            {% include "payments/view/001_tier.html" %}
            <div><br /></div>
        </div>
        <div class="uk-width-1-2@m uk-visible@m">
            {% include "payments/view/002_info_support.html" %}
            <div><br /></div>
        </div>

        <div class="uk-width-1-1">
            {% include "payments/view/003_past.html" %}
            <div><br/></div>
        </div>

        <div class="uk-width-1-2@m uk-hidden@m">
            {% include "payments/view/004_info_stripe.html" %}
            <div><br /></div>
        </div>
        <div class="uk-width-1-2@m">
                {% include "payments/view/005_methods.html" %}
            <div><br/></div>
        </div>
        <div class="uk-width-1-2@m uk-visible@m">
            {% include "payments/view/004_info_stripe.html" %}
            <div><br /></div>
        </div>

        <div class="uk-width-1-1">
            {% include "payments/view/006_invoices.html" %}
            <div><br/></div>
        </div>
    </div>
{% endif %}
{% endblock %}
