{% load static %}
{% load cookielaw_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} - Membership Portal - Jacobs University Bremen Alumni</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Language" content="en" />
        <meta name="viewport" content="width=device-width" />

        <meta name="description" content="The Jacobs Alumni Association is the growing network of former Jacobs University students and friends." />
        <meta name="keywords" content="Jacobs Alumni Association, Jacobs University Bremen, Jacobs University, Alumni Association, Jacobs, Alumni, Association, Bremen" />

        <link rel="icon" type="image/png" href="{%  static "media/favicon.png" %}" />
        
        {% render_bundle "base" "css" %}

        <script type='text/javascript'>window.jsTestModeFlag = {% if js_test_mode_flag %}true{% else %}false{% endif %};</script>

        {% if google_analytics_id %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_id}}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', "{{google_analytics_id | escapejs }}");
            </script>
        {% endif %}

        {% block head %}
        {% endblock %}
    </head>
    <body {% block bodyattr %}{% endblock %}>

        {% block header %}
            {% include "base/header.html" %}
        {% endblock %}
        
        <div class="uk-container main-container">
                {% cookielaw_banner %}
                
                {% include "base/devel.html" %}
                {% include "base/messages.html" %}
                
                <article class="uk-article">
                    <h1 class="uk-article-title">{% block pagetitle %}{% endblock %}</h1>
                    {% block content %}
                    {% endblock %}
                </article>
        </div>
        
        {% block footer %}
            {% include "base/footer.html" %}
        {% endblock %}

        {% block scripts %}
            {% render_bundle "base" "js" %}
            {% block extrascripts %}{% endblock %}
        {% endblock %}
    </body>
</html>