{% load static %}

<footer class="footer uk-background-secondary uk-light uk-padding">
   <div class="uk-grid uk-margin-small-bottom uk-child-width-1-2@m uk-child-1-1@s" uk-grid="true">
      <div class="uk-visible@m">
         {% include "base/footer_legal.html" %}
      </div>
      <div class="alumni-socials">
         <a class="uk-icon-button bg-facebook" target="_blank" href="https://www.facebook.com/jacobsalumni" uk-icon="facebook"></a>
         <a class="uk-icon-button bg-twitter" target="_blank" href="https://twitter.com/JacobsAlumni" uk-icon="twitter"></a>
         <a class="uk-icon-button bg-instagram" target="_blank" href="https://www.instagram.com/jacobsalumni/" uk-icon="instagram"></a>
         <a class="uk-icon-button bg-linkedin" target="_blank" href="https://www.linkedin.com/groups/77362/profile" uk-icon="linkedin"></a>
      </div>
      <div class="uk-hidden@m">
         {% include "base/footer_legal.html" %}
      </div>
   </div>
</footer>