{% extends "base/base.html" %}

{% block title %}Membership Portal - Jacobs University Bremen Alumni {% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        Jacobs Alumni Membership Portal
    </h1>

    <div>
        <a href="/login/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Login</button>
        </a>
    </div>
    <div class="uk-text-center">
            - or -
    </div>
    <div>
        <a href="/register/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Register</button>
        </a>
    </div>
</article>
{% endblock %}