{% extends "base/base.html" %}
{% load uikit_tags %}

{% block title %}Edit - {{ name }} {% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        Edit Data - {{ name }}
    </h1>

    {% if messages %}
        {% for message in messages %}
            <div class="uk-alert{% if message.tags %}-{{ message.tags }}{% endif %}" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div>
        <form class="uk-form-horizontal" method="POST">
            {% csrf_token %}
            {{ form | as_uikit_form }}
            <input type="submit" class="uk-button uk-button-primary" value="Update">
        </form>
    </div>
</article>
{% endblock %}