{% extends "base/base.html" %}

{% block title %}Portal{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 class="uk-article-title">
        Jacobs Alumni Membership Portal
    </h1>

    <div>
        Hey {{ user.alumni.firstName }}! You can edit your data here.
    </div>

    <div>
        <a href="/edit/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit General Information</button>
        </a>
    </div>

    <div>
        <a href="/edit/password/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit Password</button>
        </a>
    </div>

    <div>
        <a href="/edit/address/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit Address</button>
        </a>
    </div>

    <div>
        <a href="/edit/jacobs/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit Jacobs Data</button>
        </a>
    </div>

    <div>
        <a href="/edit/social/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit Social Media Links</button>
        </a>
    </div>

    <div>
        <a href="/edit/job/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit Job Information</button>
        </a>
    </div>

    <div>
        <a href="/edit/payment/" style="color: black; ">
            <button class="uk-button uk-width-1-1" type="button">Edit Payment Information</button>
        </a>
    </div>

</article>
{% endblock %}