{% if not user.alumni.approval.approval %}
<div class="uk-alert uk-alert-warning" uk-alert>
    <h3>Membership approval pending</h3>
    <p>
        If you are an existing member, we will connect your updated account to your existing Google account. <br />
        If you are a new member, we will be reviewing your application and get back to you with your Google account details.
    </p>
</div>
{% endif %}

{% if user.alumni.starter_has_expired %}
<div class="uk-alert uk-alert-warning" uk-alert>
    <h3>Starter Membership Expired</h3>
    <p>
        Your <i>Starter Membership</i> has expired. 
        Please <a href="{% url 'extend_starter' %}">extend your starter membership. </a>
    </p>
</div>

{% endif %}