<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">My User Account</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                <tr>
                    <td>Portal Username</td>
                    <td>{{ user.username | safe }}</td>
                </tr>

                <tr>
                    <td>Portal Password</td>
                    <td><i>(not shown)</i></td>
                </tr>

                <tr>
                    <td>G-Suite E-Mail</td>
                    <td>
                        {% if user.alumni.approval.gsuite %}
                            {{ user.alumni.approval.gsuite }}
                        {% else %}
                            <i>(unassigned)</i></td>
                        {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="/edit/password/" class="uk-button uk-button-text">Change Portal Password</a>
    </div>
</div>