{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">My Address</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                <tr>
                    <td>Address</td>
                    <td>
                        {{ user.alumni.address.address_line_1 }}

                        {% if user.alumni.address.address_line_2 %}
                            <br />
                            {{ user.alumni.address.address_line_2 }}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>ZIP</td>
                    <td>{{ user.alumni.address.zip }}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ user.alumni.address.city  }}</td>
                </tr>

                <tr>
                    <td>Included on Alumni Map</td>
                    <td>{{ user.alumni.address.addressVisible|print_boolean }}</td>
                </tr>

                <tr>
                    <td>Country</td>
                    <td>{{ user.alumni.address |get_choice_field:"country" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'edit_address' %}" class="uk-button uk-button-text">Edit Address</a>
    </div>
</div>