{% load registry_display %}

<div class="uk-card uk-card-default">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove-bottom">Membership &amp Payment Information</h3>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-small">
            <tbody>
                <tr>
                    <td>Tier</td>
                    <td>{{ user.alumni.membership |get_choice_field:"tier" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'view_payments' %}" class="uk-button uk-button-text">Edit Membership</a>
    </div>
</div>