{% extends "base/base.html" %}
{% load uikit_tags %}
{% load static %}
{% load render_entrypoint from webpack_loader %}


{% block title %}Membership Portal - Jacobs University Bremen Alumni {% endblock %}

{% block head %}
    {% render_entrypoint "login" "css" %}
{% endblock %}

{% block pagetitle %}
Login
{% endblock %}

{% block content %}
<div>
    <div {% if googlefail %} class="uk-alert uk-alert-danger" uk-alert {% endif%}>
        <button disabled id="g-signin" type="button" class="uk-button uk-button-primary">
            <img id="g-signin-icon" src="{% static "media/btn_google_light_pressed_ios.svg" %}" /><span id="g-signin-text">Sign
                in with Google</span>
        </button>
        {% if googlefail %}
            The Google Account you are attempting to sign in with is not associated to any portal account. 
            Please try again. 
        {% endif %}
    </div>
    <h2>OR</h2>
    <form id="local-login" class="uk-form-horizontal" method="POST">
        {% csrf_token %}
        {{ form | as_uikit_form }}
        <input type="submit" class="uk-button uk-button-primary" value="Login" id="input_id_login">
    </form>
</div>

{% endblock %}
{% block extrascripts %}

<script>
    window.google_login_settings = {
        client_id: "{{ client_id | escapejs }}",
        hosted_domain: "{{ gsuite_domain | escapejs }}",
        prompt: "select_account",
    }
    
    window.login_script_settings = {
        next: "{{ next | escapejs }}",
        token_endpoint: "{% url 'token_login' %}"
    }
</script>
{% render_entrypoint "login" "js" %}
{% endblock %}