{% extends "base/base.html" %}
{% load uikit_tags %}
{% load static %}

{% block title %}Membership Portal - Jacobs University Bremen Alumni {% endblock %}

{% block head %}
<style type="text/css">
    #g-signin-icon {
        margin-left: -30px;
        padding-right: 30px;
    }
</style>

<!-- Sign in with Google -->#
<script>
var google_login_settings = {
    client_id: '{{ client_id }}',
    hosted_domain: '{{ gsuite_domain }}',
    prompt: 'select_account'
}

var login_script_settings = {
    next: "{{ next }}",
    token_endpoint: "{% url 'token_login' %}"
}
</script>
<script type="text/javascript"  src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 id="page-header" class="uk-article-title">Login</h1>

    <div>
        <div {% if googlefail %} class="uk-alert uk-alert-danger" uk-alert {% endif%}>
            <button disabled id="g-signin" type="button" class="uk-button uk-button-primary">
                <img id="g-signin-icon" src="{% static 'media/btn_google_light_pressed_ios.svg' %}" /><span id="g-signin-text">Sign
                    in with Google</span>
            </button>
            {% if googlefail %}
                The Google Account you are attempting to sign in with is not associated to any portal account. 
                Please try again. 
                
            {% endif %}
        </div>
        <h2>OR</h2>
        <form id="local-login" class="uk-form-horizontal" method="POST">
            {% csrf_token %}
            {{ form | as_uikit_form }}
            <input type="submit" class="uk-button uk-button-primary" value="Login">
        </form>
    </div>
</article>

<script type="text/javascript">

    // Workaround for Login Button not working properly
    // is to only load it onload, and also add it dynamically
    // see e.g. https://github.com/google/google-api-javascript-client/issues/397

    window.onload = function() {
        var scriptNode = document.createElement('script');
        scriptNode.src = "https://apis.google.com/js/platform.js?onload=init";
        scriptNode.type = 'text/javascript';
        scriptNode.charset = 'utf-8';
        document.getElementsByTagName('head')[0].appendChild(scriptNode);
    }
</script>
{% endblock %}