{% extends "base/base.html" %}
{% load uikit_tags %}
{% load staticfiles %}

{% block title %}Membership Portal - Jacobs University Bremen Alumni {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<article class="uk-article">
    <h1 id="page-header" class="uk-article-title">Email sent</h1>

    <div>
        <div>
            <p>If your email is in our database, we've sent one to you. Please check your inbox and spam folder for the login link.</p>
            <p>In case you didn't receive an email from us, request <a href="{% url 'login' %}">another one</a>.</p>
        </div>
    </div>
</article>
{% endblock %}