<div id="description-pa">
    <p>
        <b>Patron</b> - Our membership for senior alumni and friends who want to give back even more and love to see the Jacobs spirit grow! 
    </p>
    <p>
        Includes all benefits of the Contributor membership PLUS:
        <ul>
            <li>After three years of patron membership, engraved alumni brick (on the path in front of the IRC)</li>
            <li>Special mention in the Association’s newsletter after joining</li>
            <li>Special mention in yearly newsletter every year of membership</li>
            <li>Enables the Alumni Association to help young and future alumni grow and really make a difference in their lives</li>
        </ul>
    </p>
</div>