<div id="description-st">
    <p>
        <b>Starter</b> - The free membership for those not ready or willing to financially contribute to the Association at this point. 
    </p>
    <p>
        We want all Alumni to be able to connect via the Association and won't exclude anyone based on their financial situation or willingness to contribute.
        After the first 2 years (and then once a year after that), we'll check with you if you want to stay in the Starter tier or if you feel comfortable upgrading to one of our paid tiers.
        If you don't, no problem, you can decide to stay in the Starter tier with no disadvantages.
    </p>
</div>