{% extends "emails/approval/base.html" %}

{% block welcome %}
<p>
    Welcome (back) to the Jacobs Alumni Association!
    With this email we would like to confirm that your membership as a <b>{{Tier}}</b> has officially started on
    <b>{{CurrentDate}}</b>.
</p>
{% endblock %}

{% block credentials %}
{% if Password %}
<p>
    Your existing Google-based Jacobs-Alumni e-mail account <b>{{Email}}</b> is now connected to your Jacobs Alumni Association membership. <br />
    As requested, we have reset your password. <br />
    Your temporary password is <b>{{Password}}</b>. <br />
    Please change it when you sign in or at <a href="https://myaccount.google.com/security">https://myaccount.google.com/security</a>.
</p>
{% else %}
<p>
    Your existing Google-based Jacobs-Alumni e-mail account <b>{{Email}}</b> is now connected to your Jacobs Alumni Association membership. 
</p>
{% endif %}
{% endblock %}