{% extends "emails/approval/base.html" %}

{% block welcome %}
<p>
    Welcome to the Jacobs Alumni Association!
    With this email we would like to confirm that your membership as a <b>{{Tier}}</b> has officially started on
    <b>{{CurrentDate}}</b>.
</p>
{% endblock %}

{% block credentials %}
<p>
    Your new Google-based Jacobs-Alumni e-mail account is <b>{{Email}}</b>. <br />
    Your temporary password is <b>{{Password}}</b>. <br />
    Please change it when you sign in or at <a
        href="https://myaccount.google.com/security">https://myaccount.google.com/security</a>.
</p>
{% endblock %}